.aakhu{
    background-color: rgb(216, 233, 248);
    
    scroll-behavior: smooth;
    overflow-y: hidden;
}
.navbar{
    display: flex;
    /* height: 30px; */
    align-items: center;
    
    background-color: rgb(216, 233, 248);
    
}
.logo{
    height: 90px;
    width: 110px;
    margin-left: 90px;
    
}


.nav-links{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin-right: 110px;
}

.navbar-button{
    display: flex;
    align-items: center;
    height: 100%;
    margin: 25px;
    border: none;
    font-size: 22px;
    font-weight: 200;
    color  :rgb(1, 1, 49)
}

.profile-button{
    display: flex;
    align-items: center;
    height: 100%;
    margin: 25px;
    border-radius: 5px;
    border: none;
    background: rgb(93, 93, 240);
    font-size: 22px;
    font-weight: 400;
    color  :white;
    padding: 25px;
    padding-left: 25px;
    padding-right: 25px;
    box-shadow: 1px;
}

.body{
    margin-top: 10px;
    
    width: 100%;
    align-items: center;
    justify-content: space-around;
    height:100%;
    background-color: rgb(216, 233, 248);
}

.content{
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    
    
}
.tag{
    width: max-content;
    color: rgb(107, 69, 173,0.6);
    background-color: aliceblue;
    font-weight: 550;
    border-radius: 15px;
    padding: 8px;
    padding-left: 15px;
    padding-right: 10px;
    margin-bottom: 30px;
}

.head{
        display: flex;
        font-size: 3rem; 
        color: rgb(3, 3, 82);   
       
}
.head1{
    display: flex;
    font-size: 3rem; 
    color: rgb(3, 3, 82);   
    margin-bottom: 30px;
}
.subhead{
    display: flex;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
    color: rgba(127, 127, 129, 0.5)
}
.bt{
    display: flex;
    width: max-content;
    background: rgb(93, 93, 240);
    border: none;
    border-radius: 10px;
    box-shadow: 2px;
    padding: 20px;
    color: white;
    margin-top: 60px;
    font-size: 22px;
}   

/* Existing styles */

/* Add responsive styles for smaller screens */
/* Add responsive styles for smaller screens */
