.aakhu {
    background-image: url('../assets/design-1710180411115.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    scroll-behavior: smooth;
    overflow-y: hidden;
    background-size: 115%;
    transition: background-size 0.5s ease-in-out;
    animation: fadeIn 2s ease-in-out;
}

.im {
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.body {
    margin-top: 10px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    background-color: rgba(218, 212, 238, 0.678);
}

.content {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
    animation: slideInFromLeft 1s ease-in-out;
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.tag {
    width: max-content;
    color: #2C56C8;
    background-color: aliceblue;
    
    font-weight: 700;
    border-radius: 15px;
    padding: 8px;
    padding-left: 15px;
    padding-right: 10px;
    margin-bottom: 30px;
}

.head {
    display: flex;
    font-size: 3.2rem;
    font-weight: 790;
    color: rgb(27, 5, 48);
}

.head1 {
    display: flex;
    font-size: 3rem;
    font-weight: 750;
    color: rgb(25, 3, 46);
    margin-bottom: 30px;
}

.subhead {
    display: flex;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 600;
    color: rgb(3, 3, 82);
    opacity: 0.78;
    
}

.bt {
    display: flex;
    width: max-content;
    background: #2C56C8;
    border: none;
    border-radius: 10px;
    box-shadow: 2px;
    padding: 20px;
    color: white;
    margin-top: 60px;
    font-size: 24px;
    font-weight: 700;
    animation: pulse 2s infinite alternate;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}
